.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  :global {
    .ql-container {
      font-size: 1.2rem;
      border: none;
      .ql-editor {
        padding: 0;
        ol {
          padding-left: 1em;
          li {
            padding-left: 1em;
          }
          .ql-indent-1 {
            padding-left: 2.2em;
          }
          .ql-indent-2 {
            padding-left: 3.2em;
          }
          .ql-indent-3 {
            padding-left: 4.2em;
          }
          .ql-indent-4 {
            padding-left: 5.2em;
          }
          .ql-indent-5 {
            padding-left: 6.2em;
          }
          .ql-indent-6 {
            padding-left: 7.2em;
          }
          .ql-indent-7 {
            padding-left: 8.2em;
          }
          .ql-indent-8 {
            padding-left: 9.2em;
          }
          .ql-indent-9 {
            padding-left: 10.2em;
          }
        }
        ul {
          padding-left: 1em;
          li {
            padding-left: 1em;
          }
          .ql-indent-1 {
            padding-left: 2.2em;
          }
          .ql-indent-2 {
            padding-left: 3.2em;
          }
          .ql-indent-3 {
            padding-left: 4.2em;
          }
          .ql-indent-4 {
            padding-left: 5.2em;
          }
          .ql-indent-5 {
            padding-left: 6.2em;
          }
          .ql-indent-6 {
            padding-left: 7.2em;
          }
          .ql-indent-7 {
            padding-left: 8.2em;
          }
          .ql-indent-8 {
            padding-left: 9.2em;
          }
          .ql-indent-9 {
            padding-left: 10.2em;
          }
        }
      }
    }
    .ql-toolbar {
      position: absolute;
      top: -34px;
      left: 0px;
      border: none;
      // width: calc(100%);
      // margin-left: -20px;
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.5s ease, visibility 0.5s ease;
      margin-right: 0;
      .ql-stroke {
        stroke: #bebcbc;
      }
      .ql-fill {
        fill: #bebcbc;
      }
      .ql-formats {
        margin-right: 0;
      }
    }
  }
  .delBtn {
    display: none;
    color: pink;
    font-size: 2rem;
  }
}
