.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  :global {
    .ql-container {
      font-size: 1.2rem;
      border: none;
      .ql-editor {
        padding: 0;
      }
    }
    .ql-toolbar {
      position: absolute;
      top: -34px;
      left: 0px;
      border: none;
      // width: calc(100%);
      // margin-left: -20px;
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.5s ease, visibility 0.5s ease;
      margin-right: 0;
      .ql-stroke {
        stroke: #bebcbc;
      }
      .ql-fill {
        fill: #bebcbc;
      }
      .ql-formats {
        margin-right: 0;
      }
    }
  }
  .delBtn {
    display: none;
    color: pink;
    font-size: 2rem;
  }
}
