.container {
  width: 100%;
  height: 100%;
  padding-top: 20vh;
  padding-left: 40px;
  padding-right: 40px;
  .form {
    height: 100%;
    .registerBtn {
      --background-color: #ffe3e8;
      --text-color: #6f6d6d;
      --border-color: none;
    }
  }
}
