.item {
  font-size: 1.2rem;
  padding: 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  // :global {
  //   .adm-input-element {
  //     font-size: 1.2rem;
  //     color: #b6fac3;
  //   }
  // }
}
.operation {
  position: fixed;
  right: 30px;
  bottom: 80px;
  border: none;
  svg {
    border-radius: 100px;
    background-color: #fff;
    font-size: 3rem;
    color: #ffe3e8;
  }
  :global {
    .adm-button {
      padding: 0;
      &::before {
        border-radius: 100px;
      }
    }
  }
}
