.container {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  .title {
    padding: 0 20px;
    margin: 10px 0;
    --font-size: 1.3rem;
    --color: #6f6d6d;
    --text-align: center;
  }
  .stencilBox {
    position: relative;
    height: 250px;
    width: 100%;
    overflow: auto;
  }
  .graphBox {
    flex: 1;
    width: 100%;
  }
  :global {
    .x6-widget-transform-resize {
      &.x6-widget-transform-cursor-n {
        display: none;
      }
      &.x6-widget-transform-cursor-e {
        display: none;
      }
      &.x6-widget-transform-cursor-s {
        display: none;
      }
      &.x6-widget-transform-cursor-w {
        display: none;
      }
    }
    .x6-widget-transform-resize {
      width: 16px !important;
      height: 16px !important;
      border-radius: 10px;
    }
    .x6-widget-transform-resize[data-position="top-right"] {
      top: -8px !important;
      right: -8px !important;
    }
    .x6-widget-transform-resize[data-position="bottom-right"] {
      right: -8px !important;
      bottom: -8px !important;
    }
    .x6-widget-transform-resize[data-position="bottom-left"] {
      left: -8px !important;
      bottom: -8px !important;
    }
    .x6-widget-transform-resize[data-position="top-left"] {
      left: -8px !important;
      top: -8px !important;
    }
  }
}

:global {
  .adm-picker-header {
    a:nth-child(1) {
      margin-left: 10px;
      font-size: 1.1rem;
      color: #ddd;
    }
    a:nth-child(3) {
      margin-right: 10px;
      font-size: 1.1rem;
      color: #6f6d6d;
    }
  }
}
