.wrapper {
  padding: 0 30px;
  padding-top: 40px;
  width: 100%;
  .operation {
    position: fixed;
    right: 30px;
    bottom: 80px;
    border: none;
    svg {
      border-radius: 100px;
      background-color: #fff;
      font-size: 3rem;
      color: #ffe3e8;
    }
    :global {
      .adm-button {
        padding: 0;
        &::before {
          border-radius: 100px;
        }
      }
    }
  }
}

.editorWrapper {
  padding-bottom: 40px;
  .editorContainer {
    height: fit-content;
    padding: 20px 20px;
    border-radius: 7px;
    box-shadow: 0px 0px 10px 1px #f4f4f4;
    animation-name: shadow-animation; /* 引用动画名称 */
    animation-duration: 2s; /* 动画持续时间 */
    animation-timing-function: ease-in-out; /* 动画速度曲线 */
    animation-iteration-count: infinite; /* 动画迭代次数 */
    animation-direction: alternate; /* 动画交替进行 */
    position: relative;
    background: linear-gradient(to right, #ffeef1, #ffeef1, #ffeef1, #dbf8e0);
    color: #6f6d6d;
  
  }
}

.draggableAgent {
  width: 100%;
  height: 100%;
  background-color: pink;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
@keyframes shadow-animation {
  //   from {
  //     box-shadow: 0px 0px 5px 10px rgba(250, 249, 249, 0.1);
  //   }
  //   to {
  //     box-shadow: 0px 0px 10px 10px rgba(228, 227, 227, 0.3);
  //   }
}

/* 定义动画效果 */
@keyframes fadeInOut {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
