.fluidBox {
  width: 100%;
  height: 100%;
  position: fixed;
}
.container {
  width: 100%;
  padding: 0 20px;
  z-index: 1;
  .moneyBox {
    width: 100%;
    margin-top: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffe3e8;
    text-align: left;
    // margin-left: 40px;
    .input {
      font-weight: bold;
      --font-size: 1.5rem;
      --color: #ffe3e8;
      input {
        font-weight: bold;
      }
    }
  }
  .tasks {
    width: 100%;
    padding-bottom: 40px;
  }
  .task {
    position: relative;
    font-size: 1rem;
    margin-top: 30px;
    border: 2px solid #ddd;
    padding: 20px;
    // padding-top: 30px;
    border-radius: 15px;
    &:first-child {
      margin-top: 10px;
    }
    .content {
      width: 100%;
      .item {
        .title {
          margin: 5px 0;
        }
        .label {
          min-width: 4.5rem;
          width: 65px;
          color: pink;
        }
        .value {
        }
        .taskName {
          color: #6f6d6d;
          font-size: 2rem;
          min-height: 2rem;
          // width: calc(100% - 73px);
          width: 100%;
          margin-top: -2px;
        }
        .slider {
          :global {
            .adm-slider-track {
              height: 12px;
              border-radius: 15px;
              background: linear-gradient(to right, #b6fac3, pink);
            }
            .adm-slider-fill {
              height: 12px;
              border-radius: 15px;
              background: transparent;
            }
            .adm-slider-thumb-container {
              width: 26px;
              height: 26px;
            }
            .adm-slider-thumb {
              width: 22px;
              height: 22px;
            }
          }
        }
      }
    }
    .checkIcon {
      display: none;
      margin-left: 10px;
      &::before {
        border-radius: 100px;
      }
      svg {
        font-size: 2rem;
      }
    }
    .closeIcon {
      display: none;
      margin-left: 10px;
      &::before {
        border-radius: 100px;
      }
      svg {
        font-size: 2rem;
      }
    }
    .sider {
      margin-left: 20px;
      height: 100%;
      svg {
        font-size: 2rem;
      }
      .checkIcon {
        font-size: 2rem;
      }
      .closeIcon {
        font-size: 2rem;
      }
    }
    :global {
      .ql-toolbar {
        top: -10px;
        left: 7px;
        // left: 28px;
        // margin-left: -85px;
      }
    }
  }
  .operation {
    position: fixed;
    right: 10px;
    bottom: calc(60px + env(safe-area-inset-bottom));
    border: none;
    svg {
      border-radius: 100px;
      background-color: #fff;
      font-size: 3rem;
      color: #ffe3e8;
    }
    :global {
      .adm-button {
        padding: 0;
        &::before {
          border-radius: 100px;
        }
      }
    }
  }
  .color-level-0 {
    color: #b6fac3;
    border-color: #b6fac3;
  }

  .color-level-1 {
    color: #d8f553;
    border-color: #d8f553;
  }

  .color-level-2 {
    color: #f8f881;
    border-color: #f8f881;
  }

  .color-level-3 {
    color: #fbdda0;
    border-color: #fbdda0;
  }
  .color-level-4 {
    color: #f9cda6;
    border-color: #f9cda6;
  }

  .color-level-5 {
    color: #ffe7eb;
    border-color: #ffe7eb;
  }

  .color-level-6 {
    color: #ffdfe5;
    border-color: #ffdfe5;
  }

  .color-level-7 {
    color: #ffd7df;
    border-color: #ffd7df;
  }

  .color-level-8 {
    color: #ffcfd8;
    border-color: #ffcfd8;
  }

  .color-level-9 {
    color: #ffc7d2;
    border-color: #ffc7d2;
  }

  .color-level-10 {
    color: #ffc0cb;
    border-color: #ffc0cb;
  }
  .lowerPink {
    color: #ffe3e8;
  }
  .lowerMintGreen {
    color: #d5f9db;
  }
}
:global {
  .adm-button {
    padding: 0;
  }
}
