.app {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.body {
  height: calc(100% - 50px - env(safe-area-inset-bottom));
  display: flex;
  justify-content: center;
  overflow-y: overlay;
  &::-webkit-scrollbar-thumb {
    background-color: transparent; /* 滑块半透明 */
  }
  &::-webkit-scrollbar {
    width: 0;
  }
}

.bottom {
  border-top: solid 1px var(--adm-color-border);
}

:global {
  .adm-tab-bar-item {
    color: #6f6d6d !important;
  }
  .adm-tab-bar-item-active {
    color: pink !important;
  }
}
