.app {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}

.body {
  height: calc(100% - 50px);
  display: flex;
  justify-content: center;
  overflow-y: overlay;
}

.bottom {
  height: 50px;
  border-top: solid 1px var(--adm-color-border);
}
