.container {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffeef1;
  position: relative;
  color: #6f6d6d;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  .content {
    width: 50%;
    height: 50%;
  }
  .inputBox {
    --color: #6f6d6d;
    --font-size: var(--adm-font-size-main);
    --text-align: center;
    :global {
      .adm-text-area-element {
        border-radius: 10px;
        background-color: #ffeef1;
      }
    }
  }
  .addBtn {
    position: absolute;
    bottom: -40px;
    right: 50%;
    transform: translateX(50%);
    width: 20px;
    height: 20px;
    border-radius: 100px;
    background-color: #ffeef1;
  }
  .rect {
    position: absolute;
    bottom: -80px;
    right: calc(50%);
    transform: translateX(50%);
    width: 200px;
    height: 25px;
  }
}
